<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p>Completed? <%="👌" if @task.completed == true %></p>
<%= link_to 'Back to list', '/tasks' %>
<%= link_to 'Edit task', "#{task_path(@task)}/edit" %>